.StageButton{
    position: absolute;
    top: 549px;
    left: 133px;
}
.BackstageButton{
    position: absolute;
    top: 624px;
    left: 33px;
}
.StudioButton{
    position: absolute;
    top: 624px;
    left: 258px;
}
.ConfigButton{
    position: absolute;
    top: 549px;
    left: 322px;
}
.SerialButton{
    position: absolute;
    top: 484px;
    left: 322px;
}
.MailButton{
    position: absolute;
    top: 419px;
    left: 322px;
}
.FCButton{
    position: absolute;
    top: 710px;
    left: 122px;
}
.icon{
    position: absolute;
    top: 20px;
    left: 10px;
}
.coin{
    position: absolute;
    top: 120px;
    left: 10px;
    background-color:darksalmon;
}
.banner{
    position: absolute;
    top: 50px;
    left: 170px;
}