.StageButton{
    position: absolute;
    top: 549px;
    left: 133px;
}
.BackstageButton{
    position: absolute;
    top: 624px;
    left: 33px;
}
.StudioButton{
    position: absolute;
    top: 624px;
    left: 258px;
}
.ConfigButton{
    position: absolute;
    top: 549px;
    left: 322px;
}
.SerialButton{
    position: absolute;
    top: 484px;
    left: 322px;
}
.MailButton{
    position: absolute;
    top: 419px;
    left: 322px;
}